* {
    /* all: unset; */
}

.bar {
    color: white;
    border: 1.5px solid;
    border-color: #c9c8f7;
    border-radius: 3px;
    background-color: transparent;
}


.right {
    background-color: rebeccapurple;
    border: 1.5px solid;
    margin: 8px;
}

.time {
    font-weight: bolder;
    background-color: red;
}

.music {
    background-color: blue;
}

.slider {
    color: red;
    background-color: red;
    opacity: 0.7;
}

button {
    background-color: red;
}

.workspaces-widget {
}

.workspace-entry {
    padding-left: 15px;
    font-size: 17;
}

.empty {
    color: transparent;
}

.occupied {
    color: blue;
}

.current {
    color: red;
}

